@font-face {
    font-family: 'TT Lakes';
    src: url('../fonts/TTLakes-Bold.eot');
    src: local('TT Lakes Bold'), local('TTLakes-Bold'),
        url('../fonts/TTLakes-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTLakes-Bold.woff') format('woff'),
        url('../fonts/TTLakes-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes';
    src: url('../fonts/TTLakes-Medium.eot');
    src: local('TT Lakes Medium'), local('TTLakes-Medium'),
        url('../fonts/TTLakes-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTLakes-Medium.woff') format('woff'),
        url('../fonts/TTLakes-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'TT Lakes';
    src: url('../fonts/TTLakes-Regular.eot');
    src: local('TT Lakes Regular'), local('TTLakes-Regular'),
        url('../fonts/TTLakes-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTLakes-Regular.woff') format('woff'),
        url('../fonts/TTLakes-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes Condensed';
    src: url('../fonts/TTLakesCondensed-Medium.eot');
    src: local('TT Lakes Condensed Medium'), local('TTLakesCondensed-Medium'),
        url('../fonts/TTLakesCondensed-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTLakesCondensed-Medium.woff') format('woff'),
        url('../fonts/TTLakesCondensed-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

@media (max-width: 699px){

    body{
        margin: 0;
        padding: 0;
        width:320px;
    }
    .page-header{
        margin: 0;
        padding: 0;
        padding: 24px 16px;
        display:flex;
        align-items: center;
        background-image: url("/1.3/image/divider.svg");
        background-repeat: no-repeat; 
        background-size: 2px 32px;
        background-position: 186px center;
    }
    .page-header__button{
        border:none;
        background-color: white;
        padding: 0;
        margin-right: 16px;
    }

    .page-header__button:nth-child(3),
    .page-header__button:nth-child(4),
    .page-header__button:nth-child(5){
        display: none;
    }

    .page-header__logo{
        margin-right: auto;
    }
   
    .page-header__button:last-child{
        margin-right: 0px;
    }

    .page-header__button_image{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #FF3E79;   
    }
    .page-header__button:nth-of-type(1) .page-header__button_image{
        background-image: url("/1.3/image/burger.svg");
        background-repeat: no-repeat;
        background-position: center center;       
    }   
    .page-header__button:nth-of-type(5) .page-header__button_image{
        background-image: url("/1.3/image/repair.svg");
        background-repeat: no-repeat;
        background-position: center center;
    }
    .page-header__button:nth-of-type(6) .page-header__button_image{
        background-image: url("/1.3/image/checkstatus.svg");
        background-repeat: no-repeat;
        background-position: center center;
    }

     .title-main{
        margin: 0;
        padding: 24px 0;
        background-image: url("/1.3/image/highlight.svg");
        background-position: left center;
        background-repeat: no-repeat;
     }
     .title-main>button{
        display: none;
     }
     .title-main__title{
        margin: 0px 16px;
        font-family: "TT Lakes";
     }
     .page-main{
        background: #F8F8F8;
     }

     .page-main__list{
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between; 
        overflow: auto;
        margin:0;
        margin-left: 16px;
        margin-bottom: 24px;
        padding: 0;
        list-style: none;
     }

     .page-main__link{
        text-decoration: none;
        color:inherit;
     }

     .page-main__item{
        background-color: #F8F8F8;
        border: none;
        font-family: "TT Lakes";
        color: #7E7E82;
        font-size: 16px;
        line-height: 24px;
        white-space: nowrap;
        padding: 8px 16px;
        margin-right: 16px;
        height: 40px;
     }
     .page-main__item:first-child{
        border:2px solid #B8FFEC;
        border-radius: 6px;
        background-color: white;
     }
    .page-main__image{
        display: block;
        width:100%;
        height:auto;
    }
    .page-main__text{
        font-family: 'TT Lakes';
        font-size: 14px;
        line-height: 18px;
        padding:0 16px;
        color: #1B1C21;
    }
    .page-main__text_hidden{
        display: none;
    }
    .page-main__read-more{
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        font-family: 'TT Lakes';
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        background-color: #F8F8F8;
        border: none;
        color: #1B1C21;
        margin-bottom: 10px;
    }
    .page-main__read-more::before{
        content: "";
        width:24px;
        height: 24px;
        background-image: url("/1.3/image/expand.svg");
        background-position: 0 center;
        background-repeat: no-repeat;
    }

}
@media (min-width: 700px) and (max-width: 1100px) {

    body{
        margin: 0;
        padding: 0;
        width:768px;
    }
    .page-header{
        margin: 0;
        padding: 24px 24px;
        display:flex;
        align-items: center;
        background-image: url("/1.3/image/divider.svg"), url("/1.3/image/divider.svg");
        background-repeat: no-repeat; 
        background-size: 2px 32px;
        background-position: 84px center,626px center;
    }
    .page-header__button{
        border:none;
        background-color: white;
        padding: 0;
        margin-right: 16px;
    }

    .page-header__logo{
        margin-right: auto;
    }

    .page-header__button:first-child{
        margin-right: 40px;
    }
    .page-header__button:nth-child(5){
        margin-right: 42px;
    }
    .page-header__button:last-child{
        margin-right: 0px;
    }

    .page-header__button_image{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #FF3E79;   
    }
    .page-header__button:nth-of-type(1) .page-header__button_image{
        background-image: url("/1.3/image/burger.svg");
        background-repeat: no-repeat;
        background-position: center center;       
    }
    .page-header__button:nth-of-type(2) .page-header__button_image{
        background-image: url("/1.3/image/call.svg");
        background-repeat: no-repeat;
        background-position: center center;
    }
    .page-header__button:nth-of-type(3) .page-header__button_image{
        background-image: url("/1.3/image/chat.svg");
        background-repeat: no-repeat;
        background-position: center center;
    }
    .page-header__button:nth-of-type(4) .page-header__button_image{
        background-image: url("/1.3/image/profile.svg");
        background-repeat: no-repeat;
        background-position: center center;
    }
    .page-header__button:nth-of-type(5) .page-header__button_image{
        background-image: url("/1.3/image/repair.svg");
        background-repeat: no-repeat;
        background-position: center center;
    }
    .page-header__button:nth-of-type(6) .page-header__button_image{
        background-image: url("/1.3/image/checkstatus.svg");
        background-repeat: no-repeat;
        background-position: center center;
    }
    
     .title-main{
        margin: 0;
        padding: 24px 0;
        background-image: url("/1.3/image/highlight.svg");
        background-position: left center;
        background-repeat: no-repeat;
     }
     .title-main>button{
        display: none;
     }
     .title-main__title{
        margin: 0px 24px;
        font-family: "TT Lakes";
     }
     .page-main{
        background: #F8F8F8;
     }

     .page-main__list{
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between; 
        overflow: auto;
        margin:0;
        margin-left: 16px;
        margin-bottom: 24px;
        padding: 0;
        list-style: none;
        
     }
     .page-main__link{
        text-decoration: none;
        color:inherit;
     }

     .page-main__item{
        background-color: #F8F8F8;
        border: none;
        font-family: "TT Lakes";
        color: #7E7E82;
        font-size: 16px;
        line-height: 24px;
        white-space: nowrap;
        padding: 8px 16px;
        margin-right: 16px;
        height: 40px;
     }
     .page-main__item:first-child{
        border:2px solid #B8FFEC;
        border-radius: 6px;
        background-color: white;
     }
     .page-main__about{
        display: flex;
        flex-wrap: nowrap;
        
     }
    .page-main__image{
        display: block;
        width:50%;
        height: auto;

    }
    .page-main__text{
        font-family: 'TT Lakes';
        font-size: 14px;
        line-height: 20px;
        padding:0 16px;
        color: #1B1C21;
        width:50%;      
    }
    .page-main__text>p{
        margin-top: 0;
    }

    .page-main__text_hidden>span{
        display: none;
    }
    .page-main__read-more{
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        font-family: 'TT Lakes';
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        background-color: #F8F8F8;
        border: none;
        color: #1B1C21;
        margin-bottom: 10px;
    }
    .page-main__read-more::before{
        content: "";
        width:24px;
        height: 24px;
        background-image: url("/1.3/image/expand.svg");
        background-position: 0 center;
        background-repeat: no-repeat;
    }

}
@media (min-width: 1100px) {

    body{
        margin: 0;
        padding: 0;
        width: 1120px;
        background: #F8F8F8;
    }
    .page-header{
        margin: 0;
        padding: 0;
        display: none;
    }
     .title-main{
        margin: 0;
        padding-top: 48px;
        background-image: url("/1.3/image/highlight.svg");
        background-position: left 48px;
        background-repeat: no-repeat;
        display: flex;
     }
     .title-main__title{
        margin: 0px auto 0px 32px;
        font-family: "TT Lakes";

     }
     .title-main__button{
        display: flex;
        align-items: center;
        background-color: #F8F8F8;
        border: none;
        font-family: "TT Lakes";
        font-size: 16px;
        line-height: 24px;
        margin-right: 32px;
        font-weight: 500;
     }
     
     .title-main__button_image-first{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-left: 8px;
        background-color: #FF3E79;
        background-image: url("/1.3/image/repair.svg");
        background-repeat: no-repeat;
        background-position: center center;
     }
     .title-main__button_image-second{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-left: 8px;
        background-color: #FF3E79;
        background-image: url("/1.3/image/checkstatus.svg");
        background-repeat: no-repeat;
        background-position: center center;
     }
     
     .page-main{
        background: #F8F8F8;
     }

     .page-main__list{
        display: flex;
        flex-wrap: wrap;
        align-items: center; 
        overflow: auto;
        margin:0;
        margin-top:10px;
        margin-left: 16px;
        margin-bottom: 24px;
        padding: 0;
        list-style: none;
        
     }
     .page-main__link{
        text-decoration: none;
        color:inherit;
     }

     .page-main__item{
        background-color: #F8F8F8;
        border: none;
        font-family: "TT Lakes";
        color: #7E7E82;
        font-size: 16px;
        line-height: 24px;
        white-space: nowrap;
        padding: 8px 8px;
        margin-right: 16px;
        height: 40px;
     }
     .page-main__item:first-child{
        border:2px solid #B8FFEC;
        border-radius: 6px;
        background-color: white;
     }
     .page-main__about{
        display: flex;
        flex-wrap: nowrap;
        
     }
    .page-main__image{
        display: block;
        width:50%;
        height: auto;

    }
    .page-main__text{
        font-family: 'TT Lakes';
        font-size: 14px;
        line-height: 18px;
        padding:0 16px;
        color: #1B1C21;
        width: 50%;

    }

    .page-main__read-more{
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        font-family: 'TT Lakes';
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        background-color: #F8F8F8;
        border: none;
        color: #1B1C21;
        margin-bottom: 10px;
    }
    .page-main__read-more::before{
        content: "";
        width:24px;
        height: 24px;
        background-image: url("/1.3/image/expand.svg");
        background-position: 0 center;
        background-repeat: no-repeat;
    }

}


 
